@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Pretendard", "ui-sans-serif", "system-ui", "sans-serif";
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadein {
  animation: fadein 0.3s ease;
}
.animate-modal {
  animation: modal 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes dropdown-in {
  from {
    opacity: 0;
    transform: translateY(-16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropdown-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-16px);
  }
}
.animate-dropdown-in {
  animation: dropdown-in 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.animate-dropdown-out {
  animation: dropdown-out 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

/* 스크롤바 숨기기 */
html,
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
